@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@font-face {
  font-family: 'Rick and Morty';
  src: url('../get_schwifty.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
/***** RESET  *******/
:root{
  --mainFont: 'Lato', sans-serif;
  --mainBg: #05292e;
  --secondBg: #01171a;
  --thirdBg: rgba(240,240,45,0.8);
  --inputBg: #e3fae1;
  --formBg: #049696;

}
*{
  box-sizing: border-box;
}
html{
  font-family: var(--mainFont);
  font-size: 50.5%; 
}
body{
  margin: 0;
  background-color: var(--mainBg);
}
input{
  font-family: inherit;
}
button{
  font-family: inherit;
  cursor: pointer;
}
h1, h2, h3, ul, hr{
  margin-top: 0;
  margin-bottom: 0;
}
ul{
  list-style: none;
  padding-left: 0;
}
img{
  width: 100%;
  display: block;
}
.container{
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/************* HEADER    *************/
.header{
    background-image: url('../hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    object-fit: cover;
    min-height: 50vh;
}

/****************** MAIN  ****************/
.formBg{
  background-color: var(--formBg);
  width: 75%;
  padding: 2rem 0;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -8rem;
  position: relative;
}
.form{
  width: 90%;
  position: relative;
}
.form__title{
  text-align: center;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
}
.form__input{
  width: 75%;
  border: none;
  border-radius: 5rem 0 0 5rem;
  background-color: var(--inputBg);
  padding: 1rem 2rem;
  outline: none;
  font-family: 'Rick and Morty';
}
.form__btn{
  width: 25%;
  border: none;
  border-radius: 0 5rem 5rem 0;
  background-color: var(--secondBg);
  color: white;
  text-transform: uppercase;
  padding: 1rem 0;
  font-family: 'Rick and Morty';
  position: absolute;
  right: 0%;
  top: 0%;
}
.card-location{
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 90%;
  background-color: var(--secondBg);
  color: white;
  padding: 2rem;
}
.card-location__title{
  color: rgba(240,240,45,0.5);
  font-size: 2rem;
  margin-bottom: 2.5rem;
  letter-spacing: 0.15rem;
  font-weight: 900;
  font-family: 'Rick and Morty';
}
@media ( min-width: 600px ) { 
  .card-location__title{
    font-size: 3.5rem;
  }
}
.card-location__list{
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  gap: 1rem;
}
.card-location__item{
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
@media ( min-width: 600px ) { 
  .card-location__item{
    font-size: 2rem;
  }
}
.card-location__description{
  font-weight: 700;
}
.card-location__info{
  font-weight: 300;
}
.cards-container{
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
@media ( min-width: 600px ) { 
  .cards-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
}
@media ( min-width: 800px ) { 
  .cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
}


.resident{
  position: relative;
  
}
.resident__box{
  color: white;
  text-align: center;
  backface-visibility: hidden;
}
.resident__name-bg{
  background-color: var(--secondBg);
  padding: 2rem 0;
  border-radius: 0 0 3rem 3rem; 
  font-family: 'Rick and Morty';
  color: var(--thirdBg);
}
.resident__name{
  font-size: 2rem;
}
@media ( min-width: 600px ) { 
  .resident__name{
    font-size: 2.5  rem;
  }
}
.resident__info{
  color: white;
}
.resident__status{
  color: white;
  font-size: 1.5rem;
}
.circle{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.resident__img{
  border-radius: 5rem 5rem 0 0; 
}
.resident__status-box{
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: black;
  width: 35%;
  padding: 1rem;
  border-radius: 0 5rem 5rem 0;
  position: absolute;
  top: 12.5%;
}
.face{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  transition: 1s ease;
  transform-style: preserve-3d;
  
}
.front{
  transform: perspective(600px) rotateY(0deg);
  transition: 1s ease;
}
.back{
  box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.68) inset;
  padding: 5rem;
  border-radius: 5rem 5rem 3rem 3rem;
  transform: perspective(600px) rotateY(180deg);
  font-size: 2rem;
  
}
.back__bg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5rem 5rem 5rem 5rem;
  height: 100%;
  gap: 1.5rem;
  padding: 2rem;
  text-align: center;
  color: var(--thirdBg);
  font-weight: 900;
}
.back__span{
  font-weight: 400;
  color: rgba(240,240,45,0.5);
  font-family: 'Rick and Morty';
}
.back__tit{
  font-size: 2.8rem;
}
.resident:hover .front{
  transform: rotateY(180deg);
}

.resident:hover .back{
  transform: rotateY(360deg);
}
.radiation{
  font-size: 8rem;
}
.loading{
  margin-top: 15rem;
  opacity: 0.8;
}
.error{
  background-color: var(--thirdBg);
  padding: 2rem;
  margin-top: 1rem;
  border-radius: 1rem;
  font-size: 2rem;
  color: black;
  font-weight: 700;
  animation: showError 1s ease-in;
  border: 3px solid rgba(240,240,45,0.9);
  font-family: 'Rick and Morty';
}
@keyframes showError {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.sugerencia{
  padding: 5px;
}
.react-autosuggest__suggestions-container--open{
  display: block;
  position: absolute;
  max-width: 75%;
  border: 1px solid #aaa;
  background-color: var(--inputBg);
  font-family: var(--mainFont);
  font-weight: 400;
  font-size: 2rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  max-height: 200px;
  overflow: auto;
  left: 0;
  right: 0;
  
  margin-right: auto;
}
.react-autosuggest__suggestions-list{
  list-style: none;
  margin-bottom: 0px;
  margin-left: 0px;
  cursor: pointer;
}
.react-autosuggest__input{
  width: 75%;
  border: none;
  border-radius: 5rem 0 0 5rem;
  background-color: var(--inputBg);
  padding: 1rem 2rem;
  outline: none;
  font-family: 'Rick and Morty';
  
}
.react-autosuggest__suggestion--highlighted{
  background-color: #ddd;
}
.sugerencia__id{
  display: none;
}
